@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  background: #fff;
  direction: ltr;
  font-size: 14px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
}
:host{
  .outer{
    overflow: hidden;
    padding: 30px;
    width: 650px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #DADCE0;
    border-radius: 7px;
  }
  
  .inner{
    display: flex;
    flex-direction: row
  }

  .color-fundoo{
    font-weight: 550;
    font-size: 15pt;
    font-family: sans-serif;
  }
  .color-fundoo-F{
    font-weight: 500;
    font-size: 20pt;
  }
  .create{
    font-size: 24px;
    font-weight: 400;
    color: #202124;
    font-weight: 400;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  }
  .RegisterForm{
  
    display: inline-block;
    font-size: 15px;
    padding: 30px 0 0;
    vertical-align: top;
    white-space: normal;
    width: 100%; 
  }
  
  .form-container{
    display: flex;
    flex-direction: column;
  }
  .name{
    display: flex;
    flex-direction: row;
    width: 354px;
  }
  .name-f, .new-password{
    margin-right: 8px;
  }
  ::ng-deep .mat-form-field-flex{
    height: 50px !important;
    
  }
  ::ng-deep .mat-form-field-label-wrapper{
    top: -1.4em;
  
  }
  .fname, .lname, .new-password, .confirm-password{
    width: 190px !important;
  }
  .username{
    width: 387px !important; 
  }
  .password{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  ::ng-deep  .mat-form-field-suffix{
    top: -0.3em !important; 
    color: rgba(0,0,0,.6);
  }
  ::ng-deep  .mat-form-field-input{
    bottom: -0.1em !important; 
  color: rgba(15, 15, 15, 0.6);
}
 
  
  
  .pass-hint{
    flex-grow: 2;
    width: 380px;
    font-size: smaller;
    margin-left: 8px;
    margin-top: 0px;
  }
  .div-form{
    display:inline-block;
    justify-content: flex-start;
    padding: 16px;
  }
  
  .div-icon{
    margin: auto;
    display:inline-block;
  }
  
  .dash-icon, .dash{
    width:"244";
    height: "244";
    text-align: center;
    align-content: center;
  }
  .form-item{
    width: min-content;
  }
  mat-form-field{
    width: min-content !important;
  }
  @media (max-width : 900px){
    .div-icon{
        display: none;
    }  
    .outer{
      width: max-content;
      padding: 48px 40px 36px;
    }
  }  
  @media (max-width : 600px){
    .outer{
      border: none;
      margin: auto;
    padding: 0;
      height: 100%;
    }
    .inner{
      margin: auto;
      width: max-content;
      padding: 0 0 0 0;
    }
    .name{
      flex-direction: column;
      width: 100%;
  
    }
    .name-f{
      margin-right: 0px;
    }
    .fname, .lname, .new-password, .confirm-password{
      width: 100% !important;
    }
    .password{
      flex-direction: column;
      width: 100%;
    }
    .div{
      margin: auto;
    }
    body{
      margin: 0;
    padding: 0;
    }
  }
  
  
  
  ::ng-deep simple-snack-bar span {
    margin:auto;
    text-align: center;
  }
  
  ::ng-deep .cdk-overlay-pane{
    margin: auto !important;
    margin-bottom:auto !important;
  }
  
  ::ng-deep .mat-snack-bar-container{
    min-width: 210px !important;
    background-color: darkred;
    
  }
  .btns{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .login{
    align-self: center;
  }
  
  button{
    background-color: #1a73e8;
    color: white;
    border: white;
    font-size: inherit;
    font-family: Roboto;
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 500;
    min-width: 120px;
    padding: 7px 7px;
    border: 10px solid white;
    border-radius:15px; 
  }
  a{
    color: #1a73e8;
    font-size: inherit;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    letter-spacing: .0107142857em;
      font-weight: 500;
      text-transform: none;
    text-decoration: none;
  }
  .mat-focus-indicator, .mat-raised-button .mat-button-base{
    background-color: #1a73e8;
    color: white;
  }
  .dasp-span{
    text-align: center;
    font-family: inherit;
    font-size: 16px;
      font-weight: 300;
      width: 100%;
  }
}